#courses{
    width: 100%;
    padding: 100px 0 80px 0;
}
.container{
    width: 85%;
    margin: auto;
}
.swiper-slide{
    background-color: aqua;
}
.popular{
    text-align: center;
}
.popular h1{
    font-size: 32px;
}
.popular p{
    font-size: 21px;
    opacity: 65%;
    margin-top: 10px;
}
/* .swiper-pagination{
    margin-top: 50px;
} */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    margin-top: 50px;
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    /* display: -webkit-flex; */
    /* display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    margin-top: 50px;
    width: 100%;
    height: auto;
    margin-left: 20px;
}
.text h1{
    font-size: 30px;
    opacity: 80%;
}
.text p{
    opacity: 70%;
    margin-top: 15px;
}
.autor{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.mark{
    margin-top: 50px;
    margin-left: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.person{
    display: flex;
    align-items: center;
}
.autor img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.h4 h4{
    font-size: 22px;
    opacity: 80%;
}
.btn_b button{
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_b button:hover{
    background-color: aqua;
    color: #fff;
    border: 1px solid aqua;
    transition: 0.7s;
}
.btn_a button{
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_a button:hover{
    background-color: blue;
    color: #fff;
    border: 1px solid blue;
    transition: 0.7s;
}
.swiper-button-next{
    position: absolute !important;
    right: 47%;
    padding: 12px 15px ;
    border-radius: 5px;
    color: white;
    font-size: 10px !important;
    background-color: rgb(206, 202, 202);
}
.swiper-button-next:hover{
    background-color: rgb(129, 128, 127);
}
.swiper-button-prev{
    
    position: absolute !important;
    left: 47%;
    padding: 12px 15px ;
    border-radius: 5px;
    font-size: 10px !important;
    background-color: rgb(206, 202, 202);
    color: white;
}
.swiper-button-prev:hover{
    background-color: rgb(129, 128, 127);
}
.swiper-slide{
    background-color: whitesmoke;
}