 * {
     margin: 0;
     padding: 0;
 }
 .container {
     width: 80%;
     margin: 0 auto;
     font-family: Muli,sans-serif;
     padding-top: 40px;
     padding-bottom: 150px;
 }
 #footer {
     background-color: #252020;
 }
 .footer-box {
     display: flex;
     justify-content: space-between;
 }
 .footer-blok-1 h2 {
     font-family: Muli, sans-seif;
     font-style: normal;
     font-weight: 700;
     padding-top: 70px;
     padding-bottom: 20px;
     color: white;
 }
 .footer-blok-1 p {
     font-family: 'Nunito', sans-seif;
     font-style: normal;
     line-height: 30px;
     color: #909090;
 }
 .footer-blok-1 ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 5px;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
 }
 .footer-blok-1 ul li:hover {
     background-color: #29ca8e;
    border-radius: 100px;
    transition: 0.6s;
 }
 .footer-blok-1 ul li:hover a {
     color: white;
     transition: 0.6s;
 }
 .footer-blok-1 a {
    color: #29ca8e;
    font-size: 15px;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
 }
 .footer-blok-1 {
    width: 30%;
 }
 .footer-blok-a a {
    font-family: 'Nunito', sans-seif;
    font-style: normal;
    padding: 20px 0;
    color: #909090;
    text-decoration: none;
 }
 .footer-blok-a a:hover {
     cursor: pointer;
     color:#29ca8e;
     transition: 0.6s;
 }
 .footer-blok-1 .footer-blok-h2 {
     padding-top: 50px;
     padding-bottom: 20px;
     color: white;
 }
 .footer-blok-1 .footer-blok-nav ul li {
     padding: 0;
     display: inline-block;
     border: none;
     background-color: transparent;
    list-style-type: none;
    margin: 5px 10px 5px 0;
 }
 .footer-blok-nav a{
     color: #909090;
     text-decoration: none;
 }
 .footer-blok-nav ul li a:hover{
     cursor: pointer;
    color: #29ca8e;
}
.footer-blok-3 h2 {
    color: white;
    padding-top: 70px;
    padding-bottom: 20px;
}
.footer-blok-3 {
    width: 33%;
}
.footer-blok-3 input {
    font-family: Muli, sans-serif;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    color: #555;
    border-bottom: 1px solid #303030;
}
.footer-blok-3 input:focus{
    outline: transparent;
}
.footer-btn {
    border: 1px solid #f9f9f9;
    background-color: transparent;
    padding: 15px 50px;
    border-radius: 40px;
    color: #fff;
    margin-top: 20px;
}
.footer-btn a {
    text-decoration: none;
    color: #fff;
}
.footer-btn:hover {
    cursor: pointer;
    background-color: #29CA8E;
    border: 1px solid #29CA8E;
    transition: 0.5s;
}
.footer-blok-3 p{
    color: #909090;
    font-size: 11px;
    margin-top: 20px;
}